<div fxLayout="column" fxFill>
  <div fxFill>
    <fpa-folder-details
      (clickedFolder)="clickedFolder.emit($event)"
      (clickedFile)="clickedFile.emit($event)"
      (addFolder)="addFolder.emit($event)"
      (uploadFileToFolder)="uploadFileToFolder.emit($event)"
      (deleteFolder)="deleteFolder.emit($event)"
      [main]="folderColumn.main"
      *ngIf="folderColumn"
      [displayName]="folderColumn.displayName"></fpa-folder-details>
    <fpa-file-details
      [file]="fileColumn.file"
      [url]="fileColumn.url"
      *ngIf="fileColumn"></fpa-file-details>
  </div>

</div>
