<div fxLayout="row" fxLayoutAlign="center">
<mat-card fxFlex="80">
  <mat-card-header>
    <mat-card-title>Great day at the beach</mat-card-title>
    <mat-card-subtitle>002998348.jpg</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <mat-list dense>
      <mat-list-item> Created: 2017-01-01 </mat-list-item>
      <mat-list-item> Filename: sjdjh33.jpg </mat-list-item>
      <mat-list-item> Size: 2.93 Mb </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </mat-card-actions>
</mat-card>
</div>
