/* You can add global styles to this file, and also import other style files */
html, body{
  margin: 0px !important;
  height: 100vh;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
